[package]
name = "kashay"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]

[dependencies]
anyhow = "1.0"
aws-config = "0.11"
aws-sig-auth = "0.10"
aws-smithy-http = "0.40.2"
aws-types = "0.10"
base64 = "0.13.0"
chrono = "0.4"
clap = { version = "3", features=["color", "derive", "env", "regex", "unicode", "suggestions", "wrap_help"] }
http = "0.2"
keyring = "1.1.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = [ "io-std", "macros", "net", "rt", "test-util" ] }
